[submodule ".registry"]
	path = .registry
	url = https://github.com/yunuuuu/yunuuuu.r-universe.dev
	branch = HEAD
[submodule "BPCells"]
	path = BPCells
	url = https://github.com/bnprks/BPCells
	subdir = r
	registered = false
[submodule "BPCellsArray"]
	path = BPCellsArray
	url = https://github.com/Yunuuuu/BPCellsArray
[submodule "ggalign"]
	path = ggalign
	url = https://github.com/Yunuuuu/ggalign
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
[submodule "rsahmi"]
	path = rsahmi
	url = https://github.com/Yunuuuu/rsahmi
